.navbar {
    background-color: gray;
    display: flex;
    align-items: center;
    height: 5vh;

    ._ul {
        display: flex;
        flex-direction: row;

        ._link {
            text-decoration: none;
            color: white;
            font-size: 3vh;
            padding: 0 2vh;

        }
    }

}